<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        {% extends 'base.html' %} {% block title %} Информация о товаре <strong>№{{data.item.id}}</strong>
        {% endblock %} {% block content %}
        <p>Название устройства: <strong>{{data.item.title}}</strong></p>
        <p>Стоимость устройства: <strong>{{data.item.price}}р.</strong></p>
        {% endblock %}
    </body>
</html>
