<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        {% extends 'base.html' %} {% block title %} Информация о пользователе <strong>№{{data.user.id}}</strong>
        {% endblock %} {% block content %}
        <p>Имя пользователя: <strong>{{data.user.username}}</strong></p>
        <p>Роль: <strong>{{data.user.role.title}}</strong></p>
        <p>Корзина:</p>
        <ul>
            {% for item in data.basket %}
            <li>{{item.item.title}} {{item.item.price}}</li>
            {% empty %}
            <li>Список пуст</li>
            {% endfor %}
        </ul>
        {% endblock %}
    </body>
</html>
